{%extends 'base.html'%}
{%block content%}
  <div class="container p-5 w-75">
    <h3 class="text-center" style="color: RGB(136,136,136)">
      Simulación
    </h3>
    <p class="text-center" style="color: RGB(136,136,136)">
      Universidad Tecnológica Nacional | FRC
    </p>

    <h1 class="text-center my-4"><span style="color: RGB(136,136,136);">Ejercicio 231. </span>Fábrica de Galletitas</h1>

    <div class="d-flex mt-5 text-center flex-column">
      <div class="rounded p-4 mb-4  fs-3" style="background-color: #171717">
        <span class="me-3" style="color: RGB(136,136,136);">89772</span>Malamud Tomás
      </div>
    </div>
  </div>
{%endblock%}