{% extends 'base.html' %} {% block content %}
<style>
  .table-responsive {
    height: 500px;
    overflow: auto;
  }
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: #f8f9fa;
  }
  .sticky-left {
    position: sticky;
    left: 0;
    z-index: 1010;
    background-color: #f8f9fa;
  }
  .sticky-top.sticky-left {
    z-index: 1030;
  }
  thead th {
    position: sticky;
    background-color: #f8f9fa;
  }
  .sticky-top-0 { top: 0; }
  .sticky-top-1 { top: 65px; } 
  .sticky-top-2 { top: 107px; } 
  thead th:after, .sticky-left:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid #dee2e6;
  }
  .sticky-left:after {
    top: 0;
    height: 100%;
    border-right: 2px solid #dee2e6;
    border-bottom: none;
  }
</style>



<div class="container p-5 w-80">
  <h1 class="text-center">TP Final</h1>
  <form method="GET" action="/tp-final" id="simulation-form">
    <div
      class="rounded border border-dark-subtle bg-secondary-subtle p-4 mt-5 container"
    >
      <div class="row align-items-end mb-3">
        <div class="col-md-4">
          <div class="form-group">
            <label for="start_row">Fila Inicial</label>
            <input
              type="number"
              id="start_row"
              name="start_row"
              class="form-control"
              required
              value="{{ current_params.start_row }}"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="additional_rows">Filas adicionales</label>
            <input
              type="number"
              id="additional_rows"
              name="additional_rows"
              class="form-control"
              required
              value="{{ current_params.additional_rows }}"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="total_rows">Filas en total</label>
            <input
              type="number"
              id="total_rows"
              name="total_rows"
              class="form-control"
              required
              value="{{ current_params.total_rows }}"
            />
          </div>
        </div>
      </div>
      <div class="row align-items-end mb-3">
        <div class="col-md-3">
          <div class="form-group">
            <label for="arrival_time_min">Llegada de camiones - Desde</label>
            <input
              type="number"
              step="0.1"
              id="arrival_time_min"
              name="arrival_time_min"
              class="form-control"
              required
              value="{{ current_params.arrival_time_min }}"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="arrival_time_max">Llegada de camiones - Hasta</label>
            <input
              type="number"
              step="0.1"
              id="arrival_time_max"
              name="arrival_time_max"
              class="form-control"
              required
              value="{{ current_params.arrival_time_max }}"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="silo_change_time">Demora en cambio de silo</label>
            <input
              type="number"
              step="0.01"
              id="silo_change_time"
              name="silo_change_time"
              class="form-control"
              required
              value="{{ current_params.silo_change_time }}"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="plant_consumption_rate"
              >Tasa de consumo de la planta</label
            >
            <input
              type="number"
              step="0.1"
              id="plant_consumption_rate"
              name="plant_consumption_rate"
              class="form-control"
              required
              value="{{ current_params.plant_consumption_rate }}"
            />
          </div>
        </div>
      </div>
      <div class="col-12 mt-4">
        <button type="submit" class="btn w-100 btn-light" id="simulate-button">
          Simular
        </button>
        <button
          class="btn btn-light w-100 d-none"
          type="button"
          id="loading-button"
          disabled
        >
          <span
            class="spinner-grow spinner-grow-sm mr-2"
            aria-hidden="true"
          ></span>
          <span role="status">Cargando...</span>
        </button>
      </div>
    </div>
  </form>

  {% if simulation_data %}
  <div class="table-responsive mt-4">
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th rowspan="3" class="sticky-top sticky-left sticky-top-0">#</th>
          <th rowspan="3" class="sticky-top sticky-left sticky-top-0">Evento</th>
          <th class="sticky-top sticky-top-0" rowspan="3">Reloj (horas)</th>
          <th class="sticky-top sticky-top-0" colspan="3">Llegada de Camión</th>
          <th class="sticky-top sticky-top-0" colspan="2">Carga de Camión</th>
          <th class="sticky-top sticky-top-0" colspan="4">Fin de Descarga</th>
          <th class="sticky-top sticky-top-0" rowspan="3">Vaciado de Silo</th>
          <th class="sticky-top sticky-top-0" colspan="2">Silo 1</th>
          <th class="sticky-top sticky-top-0" colspan="2">Silo 2</th>
          <th class="sticky-top sticky-top-0" colspan="2">Silo 3</th>
          <th class="sticky-top sticky-top-0" colspan="2">Silo 4</th>
          <th class="sticky-top sticky-top-0" colspan="2">Tubo de succión</th>
          <th class="sticky-top sticky-top-0" rowspan="3">Tiempo de Ocupación</th>
          <th class="sticky-top sticky-top-0" rowspan="3">Porcentaje de Ocupación</th>
          <th class="sticky-top sticky-top-0" rowspan="3">Camiones en total</th>
          <th class="sticky-top sticky-top-0" rowspan="3">Cantidad Máxima de camiones en cola</th>
          <th class="sticky-top sticky-top-0" colspan="{{ max_trucks * 2 }}">Camiones</th>
        </tr>
        <tr>
          <th class="sticky-top sticky-top-1" rowspan="2">Rnd</th>
          <th class="sticky-top sticky-top-1" rowspan="2">Tiempo entre llegadas</th>
          <th class="sticky-top sticky-top-1" rowspan="2">Próxima llegada</th>
          <th class="sticky-top sticky-top-1" rowspan="2">Rnd</th>
          <th class="sticky-top sticky-top-1" rowspan="2">Carga de camión</th>
          <th class="sticky-top sticky-top-1" rowspan="2">Harina a Descargar</th>
          <th class="sticky-top sticky-top-1" rowspan="2">Tiempo de descarga</th>
          <th class="sticky-top sticky-top-1" rowspan="2">Tiempo de cambio de silo</th>
          <th class="sticky-top sticky-top-1" rowspan="2">Fin de descarga</th>
          <th class="sticky-top sticky-top-1" rowspan="2">Estado</th>
          <th class="sticky-top sticky-top-1" rowspan="2">Cantidad de harina</th>
          <th class="sticky-top sticky-top-1" rowspan="2">Estado</th>
          <th class="sticky-top sticky-top-1" rowspan="2">Cantidad de harina</th>
          <th class="sticky-top sticky-top-1" rowspan="2">Estado</th>
          <th class="sticky-top sticky-top-1" rowspan="2">Cantidad de harina</th>
          <th class="sticky-top sticky-top-1" rowspan="2">Estado</th>
          <th class="sticky-top sticky-top-1" rowspan="2">Cantidad de harina</th>
          <th class="sticky-top sticky-top-1" rowspan="2">Estado</th>
          <th class="sticky-top sticky-top-1" rowspan="2">Cola</th>
          {% for i in range(max_trucks * 2) %}
          <th colspan="2" class="sticky-top sticky-top-1">{{ i }}</th>
          {% endfor %}
        </tr>
        <tr>
          {% for i in range(max_trucks * 2) %}
          <th class="sticky-top sticky-top-2">Estado</th>
          <th class="sticky-top sticky-top-2">Carga</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for row in simulation_data %}
        <tr>
          <td class="sticky-left">{{ row.index }}</td>
          <td class="sticky-left">{{ row.event }}</td>
          <td>{{ row.clock }}</td>
          <td>{{ row.rnd }}</td>
          <td>{{ row.time_between_arrivals }}</td>
          <td>{{ row.next_arrival }}</td>
          <td>{{ row.rnd_load }}</td>
          <td>{{ row.truck_load }}</td>
          <td>{{ row.unloading_time }}</td>
          <td>{{ row.silo_change_time }}</td>
          <td>{{ row.end_unloading }}</td>
          <td>{{ row.silo_emptying }}</td>
          <td>{{ row.silo_1_state }}</td>
          <td>{{ row.silo_1_flour }}</td>
          <td>{{ row.silo_2_state }}</td>
          <td>{{ row.silo_2_flour }}</td>
          <td>{{ row.silo_3_state }}</td>
          <td>{{ row.silo_3_flour }}</td>
          <td>{{ row.silo_4_state }}</td>
          <td>{{ row.silo_4_flour }}</td>
          <td>{{ row.tube_state }}</td>
          <td>{{ row.tube_queue }}</td>
          <td>{{ row.tube_occupation_time }}</td>
          <td>{{ row.tube_occupation_percentage }} %</td>
          <td>{{ row.total_trucks }}</td>
          <td>{{ row.max_queue }}</td>
          {% for i in range(max_trucks * 2) %}
          <td>{{ row.get('truck_' ~ (i) ~ '_state', '-') }}</td>
          <td>{{ row.get('truck_' ~ (i) ~ '_load', 0) }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
  <script>
    document
      .getElementById("simulation-form")
      .addEventListener("submit", function () {
        document.getElementById("simulate-button").classList.add("d-none");
        document.getElementById("loading-button").classList.remove("d-none");
      });
  </script>

  {% endblock %}
</div>
